{{- /* Twikoo Comments */ -}}
<div id="tcomment"></div>
<script src="https://registry.npmmirror.com/twikoo/1.7.2/files/dist/twikoo.min.js"></script>
<script>
twikoo.init({
  envId: '{{ .Site.Params.twikoo.envId }}', 
  el: '#tcomment', 
  lang: '{{ .Lang }}',
  // region: 'ap-guangzhou', 
  // path: '{{ .Permalink }}', 
  onImageUploaded: function (originalUrl) {
    return originalUrl.replace('https://image.tensorplay.cn/blog', 'https://ik.imagekit.io/nwbaln7ps/tr:l-text,ie-VGVuc29yUGxheSBCbG9n,lx-bw_mul_0.7,ly-bh_mul_0.9,lm-cutout,co-FFFFFF50,tg-i,fs-bh_div_15,ff-Amaranth,l-end/')
    return originalUrl;
  }
})
</script>

<style>
    /* Twikoo 样式微调，适配 PaperMod */
    #tcomment {
        padding: 20px;
        background: var(--entry);
        border-radius: var(--radius);
        margin-top: 20px;
        box-shadow: var(--shadow);
    }
    
    .tk-content {
        color: var(--primary) !important;
    }
    
    .tk-meta-input .el-input__inner {
        background: var(--code-bg) !important;
        color: var(--primary) !important;
        border-color: var(--border) !important;
    }
    
    .tk-submit-action-icon {
        color: var(--primary) !important;
    }
    
    .dark .tk-content p {
        color: #ddd !important;
    }
</style>
