{{- /* Twikoo Comments */ -}}
<div id="tcomment"></div>
<script src="https://registry.npmmirror.com/twikoo/1.7.2/files/dist/twikoo.min.js"></script>
<script>
twikoo.init({
  envId: '{{ .Site.Params.twikoo.envId }}', 
  el: '#tcomment', 
  lang: '{{ .Lang }}',
  // region: 'ap-guangzhou', 
  // path: '{{ .Permalink }}', 
})
</script>

<style>
    /* Twikoo 样式微调，适配 PaperMod */
    #tcomment {
        padding: 20px;
        background: var(--entry);
        border-radius: var(--radius);
        margin-top: 20px;
        box-shadow: var(--shadow);
    }
    
    .tk-content {
        color: var(--primary) !important;
    }
    
    .tk-meta-input .el-input__inner {
        background: var(--code-bg) !important;
        color: var(--primary) !important;
        border-color: var(--border) !important;
    }
    
    .tk-submit-action-icon {
        color: var(--primary) !important;
    }
    
    .dark .tk-content p {
        color: #ddd !important;
    }
</style>
